.button {
    position: relative;
    background-color: transparent;
    border: 0;
    font-size: large;
    font-family: inherit;
}

button:hover {
    color: #0fa66c;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.button::before{
   display: block;
   position: absolute;
   content: "";
   height: 2px;
   width: 0;
   background-color: #0fa66c;
   transition: width .2s ease-in-out, left .2s ease-in-out;
   left: 50%;
   bottom: 0;
}

.button::after{
   display: block;
   position: absolute;
   content: "";
   height: 2px;
   width: 0;
   background-color: #0fa66c;
   transition: width .2s ease-in-out;
   left: 50%;
   bottom: 0;
}

.button:hover::before{
   width: 50%;
   left: 0;
   background-color: #0fa66c;
}
.button:hover::after{
   width: 50%;
   background-color: #0fa66c;
}

.dangerous:hover {
    color: crimson;    
}

.dangerous::before,
.dangerous::after,
.dangerous:hover::before,
.dangerous:hover::after {  
   background-color: crimson;   
}