@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Italic.ttf') format('truetype'),
        url('../fonts/Roboto-Bold.ttf') format('truetype'),
        url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;       
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    overflow-x: hidden;    
}

/* *::-webkit-scrollbar {
    width: 10px;
} */

.main {
    height: 100vh;
    color: black;    
}

.header {
    margin: 10px 0 10px 0;
    height: 50px;
    position: fixed;
    top: 0;    
    background-color: white;
    width: 80%; /*otherwise it overrides the scroll*/
    z-index: 100;
    margin-top: 0;
    padding-top: 10px;
}

.screen-layout {
    display: flex;
    width: 100vw;    
}


.navmenu {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    border-style: solid;
    border-width: 1px;
    border-image: linear-gradient(transparent 0%, gray 40%, gray 60%, transparent 100%) 0 1 0 0;
    height: 100%;
    width: 15vw;
    min-width: 150px;
    max-width: 250px;
    padding-top: 50px;
}

.navmenu-fake {    
    width: calc(15vw + 1rem);
    min-width: 165px;
    max-width: 265px;
}

.navmenu__item {
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 20px;
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    transition: 0.2s;
}

.navmenu__item:hover {
    font-weight: bold;
}

.navmenu__item_active {
    font-weight: bold;
    color: #0fa66c;
}

.navmenu__item-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.navmenu__header {
    margin-bottom: 50px;
    padding-left: 10px;
}

.navmenu__header_logged-out {
    margin-bottom: 50px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.navmenu__header span{
    white-space: nowrap;
}

.navmenu__header span::after {
    position: absolute;
    width: 1rem;
    height: 100%;
    content: "";
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    top: 0;
    right: 0;
}

.navmenu__header span:hover {
    transition: 0.2s;
    color: #0fa66c;
}


.screen {
    flex-grow: 1;
    position: relative;
}


.exchange {
    position: relative;
    width: 100%;
}

.exchange_loading {
    
    width: 100%;
    height: 100vh;
    
}

.exchange__body {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template: 'securities-list sidebar' 1fr
                    / 80% 20%;
}

.securities-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 1rem;
}

.securities-list__item {
    display: flex;
    width: 100%;
    height: 3em;
    align-items: center;
    padding-left: 5px;
    cursor: pointer;
}

.securities-list__item:nth-child(2n) {
    background-color: whitesmoke;
}

.security__secid {
    min-width: 90px;
}

.security__name {
    padding-left: 20px;
    flex-grow: 10;
}

.securities-list__item:hover .security__name {    
    color: #0fa66c;
}

.security__price-block {
    width: 150px;
    display: flex;
    align-items: center;
}

.securities-list-item__price-block {
    flex-direction: column;
}

.security__change-block {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;    
}

.security__change,
.security__change-percent {
    font-size: small;
    color: gray;
    background-color: transparent;
    overflow: visible;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.security__change_positive,
.security__change-percent_positive {
    color: #0fa66c;
}

.security__change_negative,
.security__change-percent_negative {
    color: crimson;
}

.securities-list-item__price-block .security__change-block :first-child{
    position: relative;
}

.securities-list-item__price-block .security__change-block :first-child:after {
    height: 1em;
    width: 1px;
    background-color: black;
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 0;   
}


.security-screen__title {
    position: relative;
}

.security-screen__board {
    color: #969696;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.security-screen__trade-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.security-screen__price-block {
    width: 16%;
    justify-content: center;
}

.security-screen__price-block .security__price {
    font-size: 1.4em;
    margin-right: 5px;
}

.security-screen__price-block .security__change-block {
    flex-direction: column;
    width: initial;
}

.security-screen__price-block .security__change-block .security__change,
.security-screen__price-block .security__change-block .security__change-percent {
    width: initial;
}

.trade-info__info-unit {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.trade-info__info-unit span {
    font-size: 0.9em;
    color:  #666;
}


.security-screen__params-of-instr {
    width: 100%;
}

.params-of-instr__parameter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
    height: 2em;
    border-bottom: #eee 1px solid;
}

.params-of-instr__parameter:hover{
    background-color: #eee;
}

.parameter__name {
    color: #666;
}

.parameter__value {
    font-weight: bold;
}


.sidebar {    
    position: fixed;
    right: 17px;
    width: calc(((85vw - 1rem) * 0.2) - 17px); /*20% of securities-list`s width minus scroll`s width*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.sort-block {
    display: flex;
    align-items: center;
    overflow:visible;
}


.portfolio{
    position: relative;
    width: 100%;
    height: 100vh;
}

.portfolio__body {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template: 'securities-list sidebar' 1fr
                    / 80% 20%;
}

.portfolio_no-logged-in-user,
.portfolio_empty {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.portfolio__exchange-link {
    color: black;
    text-decoration: none;
}

.portfolio_no-logged-in-user span,
.portfolio__exchange-link {    
    font-weight: bold;
}

.portfolio_no-logged-in-user span:hover,
.portfolio__exchange-link:hover {
    color: #0fa66c;
    transition: 0.2s;
    cursor: pointer;
}



.user-have{
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.user-have__count{
    color: #969696;
    font-size: small;
    margin-right: 1rem;
}

.user-security-count {
    display: flex;    
    align-items: center;
    height: 4rem;
    overflow: hidden;
    font-size: large;
}

.user-security-count span{
    font-size: larger;    
}

.user-security-count > *{
    margin-right: 1rem;
}

.user-security__add-count {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;
}

.user-security-count__minus-button,
.user-security-count__plus-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    transition: 0.2s;
    color: crimson;
    margin-bottom: 1.2rem;
}

.user-security-count__plus-button {
    color: #0fa66c;
}


.profile {
    position: relative;
    width: 100%;
}

.profile__body {
    margin-top: 50px;
    width: 100%;
    height: calc(100vh - 50px);
}

.profile__info {
    position: relative;
    align-items: center;
    padding-top: 6rem;

}

.profile__info h2 {
    position: absolute;
    top: 3rem;
    left: 0;
}

.profile__name,
.profile__pass {
    position: relative;
    font-size: larger;    
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.profile__edit-button {    
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;      
}

.profile__current-name,
.profile__new-name {    
    position: relative;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-right: 1.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.profile__name_expand .profile__edit-button {        
    width: 1.7rem;
    height: 1.7rem;
}

.profile__icon {
    transition: 0.2s;
}

.profile__edit:hover,
.profile__save:hover {
    color: #0fa66c;
}

.profile__cross:hover {
    color: crimson;
}

.profile__new-name,
.profile__new-pass {
    height: 0;
    padding: 0;
}

.profile__new-pass{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile__name_expand .profile__new-name,
.profile__pass_expand .profile__new-pass {
    height: initial;
}